
.bar{
    text-align: center;
    position: sticky;

}
.search-1{
    width: 40%;
}
.Search{
    font-size: 20px; 
    padding-left: 1cm;
}

.jsy{
    text-align: center;
    padding-right: 3cm;
    height: 2cm;
    font-weight: 600; 
    line-height: 0.5em;
    position: relative;
    font-size: 50px;
    padding-top: 1.5cm;
   
    
}

.under-jsy{
   width: 80%;text-align: left;
}

.underjsy{
    line-height:2em; 
    font-size: 15px;
    text-align: center;
    position: relative;
    padding-left: .5cm;
   
}

.log-cart{
    font-size: 20px;width: 28%;
}
.img-wrapper{
    max-width: 100%;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.carousel-item{
    width: 100%;
    height: 100%;
}

.card{ 
   border: 5px ;
   background-color: rgb(247, 241, 217);
  
    
}

.moon1{
        position: relative;
        text-align: center;
        color: white;
}

.text-on-moonpic{
 width: 25%;
 position: absolute;
 text-align: left;
  top: 50%;
  left: 5%;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}

.shopnow{
    margin-top: 50%;
    font-size: 9px;}

.wrap {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: antiquewhite;
    
}






.box1{
    width: 50%;
    text-align: center;
    height: 500px;
    background-color:rgb(230, 193, 202);
    position:absolute;
}


.image1{
    position: absolute;
    font-size: 50px;
    text-align: center;
    font-style: oblique;
    margin-top: 20%;
    margin-left: 30%;
    font-weight: bolder;

}

.shopnow{
    margin-top: 50%;
    font-size: 30px;
}

.cutedesktop{ 
float: right; 
width: 50%;
height: 500px; 
position: absolute;
left: 50%}

.slide1t {
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    
}

.longpic{
    width: 100%; 
    height: 600px;
}



.box2 {
    width: 28%;
    text-align: center;
    height: 300px;
    background-color: rgb(242, 215, 231);
    margin-left: 50%;
}

.box3{
    width: 29%;
    text-align: center;
    height: 300px;
    background-color:rgb(243, 220, 241);
    margin-left: 22.8%;
}

.boximage1{
    width: 28%;
    text-align: center;
    height: 300px;
    margin-left: 22.8%;
    position: absolute;
} 

.boximage2{
   height: 300px; 
   width: 27%;
   text-align: center;
   margin-left: 50.9%;
   position: absolute;
} 
.wrap1 {
    width: 100%;
    height: 400px;
    align-items: center;
    position: relative;
    
}

.addcart{
    text-align: center; 
    margin-top: 30%;
}

.cute1{
    width: 15%;
    height: 100%;
    position: absolute;
    margin-left: 2%;
}
.cute2{

    width: 15%;
    height: 100%;
    margin-left:18%;
    position: absolute
}
.cute3{
    width: 15%;
    height: 100%;
    margin-left: 35%;
    position: absolute
}
.cute4{
    width: 15%;
    height: 100%;
    margin-left: 52%;
    position: absolute
}
.cute5{
    width: 15%;
    height: 100%;
    margin-left: 68%;
    position: absolute
}
.cute6{
    width: 15%;
    height: 100%;
    margin-left: 84%;
    position: absolute
}
.wrap2{
    position: relative;
    width: 100%;
    height: 1000px;
    background: rgb(247, 228, 246);
}

.footerjsy{
    font-size: 2000%;
    font-weight: 800; 
    text-align: center;
    margin-top: 3cm;
    padding-top: 13cm;
}